*.pdb
*.obj
*.log
*.idb
*.pch
*.tlog
*.VC.db
*.ipch
*.lib
*.ilk
*.exe
*.dll
*.res
*.user
*.suo
*.exp
*.opendb
.vs/





sourcecode/client/nsclient/proj/.DS_Store
sourcecode/client/nsclient/.DS_Store
sourcecode/nsbase/nsbase/.DS_Store
sourcecode/nsbase/nsbase/inc/.DS_Store
*.enc
sourcecode/client/nsclient/x64/Debug/goproxy.obj.enc
sourcecode/client/nsclient/x64/Debug/goproxy.obj.enc
*.enc
/sourcecode/server/operserver/x64/Debug
sourcecode/server/operserver/.DS_Store
sourcecode/server/.DS_Store
sourcecode/nsbase/thirdproject/curl-7.65.0/iosbuild/Curl/.DS_Store
sourcecode/nsbase/thirdproject/curl-7.65.0/.DS_Store
sourcecode/nsbase/thirdproject/curl-7.65.0/iosbuild/.DS_Store
sourcecode/nsbase/thirdproject/curl-7.65.0/iosbuild/Curl
sourcecode/nsbase/thirdproject/curl-7.65.0/iosbuild/OpenSSL
sourcecode/nsbase/thirdproject/curl-7.65.0/tests/.DS_Store
sourcecode/nsbase/dependency/libcurl/.DS_Store
sourcecode/nsbase/dependency/libcurl/lib/.DS_Store
sourcecode/nsbase/dependency/libcurl/lib/ios/.DS_Store
sourcecode/.DS_Store
sourcecode/nsbase/.DS_Store
sourcecode/nsbase/dependency/.DS_Store
sourcecode/nsbase/dependency/lua/.DS_Store
sourcecode/nsbase/dependency/lzma/.DS_Store
sourcecode/nsbase/dependency/mbedtls/.DS_Store
sourcecode/server/common/.DS_Store
